# PostgreSQL Connection
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DATABASE=ytproducer
POSTGRES_USER=ytproducer
POSTGRES_PASSWORD=ytproducer

# Application Settings
ASPNETCORE_ENVIRONMENT=Development
USE_MOCK_DATA=true
MOCK_DATA_JSON_PATH=../../../../docs/Playlist/Outputs

# Logging
LOG_LEVEL=Information
